body{
    background:#0e0908;
    font-family: 'Lexend Zetta', sans-serif;
}
h2{
    color:red;
    font-size: 2.5rem;
}
p{
    color:purple;
    font-size: 30px;
}
#mainNavbar{
    font-weight: 100;
}
#mainNavbar .nav-link{
    color:white;
}
#mainNavbar .nav-link:hover{
    background:purple;
    color:yellow;
}

#mainNavbar .navbar-brand {
    color:#ea1c2c;
    

}
#headingGroup span{
    color:#ea1c2c;
}
#headingGroup h1{
    font-weight: 100;
    font-size: 3rem;
}
@media(max-width:1200px){
    #headingGroup h1{
        font-weight: 100;
        font-size: 3rem;
    }

}
marquee{
    color:rgb(119, 0, 255);
    font-size: 75px;
}